package {{_package}};

{{#imports}}
import {{import}};
{{/imports}}

import lombok.*;

@Getter
@NoArgsConstructor
@AllArgsConstructor
public class {{classname}} {
    //TODO продумать инициализацию методов с заполнением data класса

{{#vars}}
    private final {{type}} {{varName}}{{type}} = new {{type}}("{{toInit}}");
{{/vars}}

    //TODO продумать data классы под филды и тп. По опыт - Field String, checkbox - true false или само выбранное значение
}