package {{packageName}};

{{#imports}}
import {{import}};
{{/imports}}

import lombok.*;

@Getter
@NoArgsConstructor
@AllArgsConstructor
public class {{className}} {
    //TODO продумать инициализацию методов с заполнением data класса
{{#hasDataVars}}
    private {{className}}Data {{dataVarName}} = new {{className}}Data();
{{/hasDataVars}}

{{#vars}}
    private final {{type}} {{varName}}{{type}} = new {{type}}("{{toInit}}"{{#needIndex}}, {{index}}{{/needIndex}});
{{/vars}}

{{#hasDataVars}}
    @Getter
    @Setter
    @Builder
    @NoArgsConstructor
    @AllArgsConstructor
    public static class {{className}}Data {
    {{#dataVars}}
        private final {{&type}} {{name}}{{#needToInit}}= {{&init}}{{/needToInit}};
    {{/dataVars}}
    }
{{/hasDataVars}}

}