package {{packageName}};

{{#imports}}
import {{import}};
{{/imports}}

import lombok.*;

@Getter
public class {{className}} {

    public {{className}}(){}
{{#hasDataVars}}
    private {{className}}Data {{dataVarName}} = new {{className}}Data();

    public {{className}}({{className}}Data {{dataVarName}}) {
        this.{{dataVarName}} = {{dataVarName}};
    }
{{/hasDataVars}}

{{#vars}}
    private final {{type}} {{varName}}{{type}} = new {{type}}("{{toInit}}"{{#needIndex}}, {{index}}{{/needIndex}}){{^needToChangeData}};{{/needToChangeData}}{{#needToChangeData}} {
    {{#override}}
        @Override
        {{&methodToOverride}} {
            super.{{&overrideMethod}}({{methodData}});
            {{dataVarName}}.{{varDataToSet}}{{&setData}};
        }
    {{/override}}
    };{{/needToChangeData}}

{{/vars}}

{{#hasDataVars}}
    @Getter
    @Setter
    @Builder
    public static class {{className}}Data {

        public {{className}}Data(){}

    {{#dataVars}}
        private {{&type}} {{name}}{{#needToInit}} = {{&init}}{{/needToInit}};
    {{/dataVars}}
    }
{{/hasDataVars}}

}